<h1 #title>Users</h1>

@defer (on hover) {
  <app-large-component></app-large-component>
} @loading {
  <p>loading....</p>
} @placeholder (minimum 1000) {
  <p test-id="placeholder">Hover me to load content</p>
} @error {
  <p>Failed to load large component.</p>
}

<div>What is your name?</div>
<input type="text" [(ngModel)]="userName">

<div>Signal: {{name()}}</div>

<!--@let name1 = name();-->
@if (name(); as n1) {
  <h1>Hello, {{name()}}!</h1>
}

@if (userName) {
  <h1>Hello, {{userName}}!</h1>
} @else {
  <h1>Hello, dear guest!</h1>
}
